.pokey-div {
  padding: 5px;
  margin: 5px;
  background-color: rgb(219, 162, 57);
  width: 15%;
  height: 100px;
  color: white;
}
.pokey-div:hover {
  background-color: rgb(103, 192, 192);
  cursor: pointer;
}
.header {
  display: flex;
  height: 50px;
  background-color: chocolate;
  color: white;
  padding: 7px;
}
.pokemons-root {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.header-elem {
  padding: 12px 5px;
  color: white;
}
.pokemon-root {
  padding: 30px;
}
